<h1 class="text-dark bannertext pt-3">Car4you<br>Rental</h1>
<div class="cover mb-4 d-flex">
    <div class="search-container p-4">
      <%= form_tag cars_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Enter a car model or a city"
          %>
          <%= button_tag "Find Cars", class: "btn btn-success my-btn", style: "display: none;" %>
          <% end %>
    </div>
</div>
<div class="container text-center text-black">
  <br>
  <h2 class="typed-js" data-controller="typed-js">
    Explore <strong>endless</strong><br> booking offers
  </h2>
  <br>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row cover trip m-4"></div>
  <div class="col-2 m-5 align-items-end">
    <h2>Find the <strong class="str">best car</strong><br>for your roadtrip</h2>
    <p>From adventure to sport cars to match your perfect experience!</p>
    <a href="/cars" class="btn btn-primary border border-dark">Book now!</a>
  </div>
</div>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row-6 m-4">
    <h4 class="px-5"><strong>Search by cities</strong></h4>
    <a href="/cars?query=rio+de+janeiro&button=" class="card-category text-decoration-none" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('rj.png') %>)"><p class="p-2">Rio de Janeiro</p></a>
    <a href="/cars?query=s찾o+paulo&button=" class="card-category text-decoration-none" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('sp.png') %>)"><p class="p-2">S찾o Paulo</p></a>
    <a href="/cars?query=florian처polis&button=" class="card-category text-decoration-none" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('floripa.png') %>)"><p class="p-2">Florian처polis</p></a>
    <a href="/cars?query=belo+horizonte&button=" class="card-category text-decoration-none" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('bh.png') %>)"><p class="p-2">Belo Horizonte</p></a>
  </div>
</div>
