  <div class="search-container-pages p-4">
    <%= form_tag cars_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control rounded-input",
        placeholder: "Enter a car model or a city"
        %>
        <%= button_tag "Find Cars", class: "btn btn-success my-btn", style: "display: none;" %>
        <% end %>
  </div>

<div class="container">
  <h1 class="m-2"><strong>Rent a Car</strong></h1>
    <div class="cards">
      <% @cars.each do |car| %>
      <%= link_to car_path(car), class:"card-trip text-decoration-none" do %>
      <% if car.photo.present? %>
            <%= cl_image_tag car.photo.key, height: 200, width: 300, crop: :fit %>
              <% else %>
            <!-- Handle the case where car.photo is nil -->
            <h2 class="m-5 p-5"><%= car.model %></h2>
              <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 class="black-p"><%= "#{car.model}" %></h2>
            <p class="black"> <%= "#{car.description}" %> </p>
          </div>
            <h2 class="card-trip-pricing">$<%= car.price %></h2>
        </div>
      <% end %>
      <% end %>
    </div>
</div>
